/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';

*{
	box-sizing:border-box;
	margin:0!important;
}

html{
	font-size: 16px;
}

body{
	margin-top: 60px;
	line-height:1.3em;
}

h1, h2 , h3, h4, h5, h6{
	text-transform:uppercase;
	line-height: 1.3em;
}
img{
	max-width:100%;
}
ul{
	list-style: none;
}
a{
	text-decoration:none;
}
label, input, textarea{
	display:block;
}
